In [1]:
#These are libraries that you should import if needed for your notebook.
#import libraries
#from datascience import *
import pandas as pd
import seaborn as sns
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Basics

Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:


*  Text or string Type:	  str
   *  Much of the world’s data is text, and a piece of text represented in a computer is called a string. A string can represent a word, a sentence, or even the contents of every book in a library.
*  Numeric Types:	int, float, complex
   *  Integers are called int values in the Python language. They can only represent whole numbers (negative, zero, or positive) that don’t have a fractional component
   * Real numbers are called float values (or floating point values) in the Python language. They can represent whole or fractional numbers but have some limitations.
*  Sequence Types:	list, tuple, range
   * Values can be grouped together into collections, which allows programmers to organize those values and refer to all of them with a single name. By grouping values together, we can write code that performs a computation on many pieces of data at once.
*  Mapping Type:	dict
*  Set Types:	  set, frozenset
*  Boolean Type:	  bool

## Operations

Python operators are special symbols (sometimes called keywords) that are used to perform certain most commonly required operations on one or more operands (value, variables, or expressions).

Python language supports the following types of operators:

* Arithmetic Operators

* Comparison (Relational) Operators

* Assignment Operators

* Logical Operators

* Bitwise Operators

* Membership Operators

* Identity Operators

In [2]:
#Print Hello World
"Hello World"

'Hello World'

In [3]:
#Print a number
5

5

In [4]:
#Add two numbers
5+7

12

In [5]:
#Subtract one number from another
5 - 7

-2

In [ ]:
#Multiply two numbers

In [6]:
#Multiply two numbers
5*7

35

In [7]:
#Divide one number by another
8/3

2.6666666666666665

In [8]:
#Calculate 2 to the power of 3
2**3

8

## Variables

Variables are containers for storing data values. Unlike other languages, such as Java, Python has no command for declaring a variable, so you create one the moment you first assign a value to it.

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

In [22]:
#Store the value of 5 in variable a.
a = 5

In [23]:
#What is the value of  variable a
a

5

In [24]:
#Multiply variable a by another number
a *3

15

In [25]:
#Add a number to  variable a
a + 4

9

In [26]:
#Change the value of variable a
a = 10

In [27]:
#Multiply variable a by a number
a * 4

40

In [28]:
#Add variables a and b.
a + b

25

In [29]:
#Store the value of 15 in variable b
b = 15

In [30]:
#Create a new variable (total) and equate that to the value of a and b
Total = a + b
Total

25

In [31]:
#What is the value of total
Total

25

In [32]:
#Create a variable (new) and equate that to a string 'Stellenbosch'
new = "Stellenbosch"
new

'Stellenbosch'

In [33]:
#Add 5 to variable new

new + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
#Multiply the variable new by a number
new * 5

'StellenboschStellenboschStellenboschStellenboschStellenbosch'

**Class Exercise 1:**

In [ ]:
#Create three new variables hourly_minimum_wage, hours_per_week, and weeks_per_year and equate them to
#15, 40 and 52 respectively
hourly_minimum_wage = 15
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hourly_minimum_wage

15

In [ ]:
#Determine the number of working hours in a year, store it in a variable, and output that
hours_per_year = hours_per_week * weeks_per_year
hours_per_year

2080

In [ ]:
#Determine the minimum earning per year
hours_per_year * hourly_minimum_wage

31200

In [ ]:
#Determine the minimum earning per year using the original variables that were defined
hourly_minimum_wage * hours_per_week * weeks_per_year

31200

## Arrays

Arrays represent multiple data elements of the same type using a single name. An array is a special variable, which can hold more than one value at a time.

In [ ]:
#np.array is used to create an array
np.array([1, 2, 3, 4])

array([1, 2, 3, 4])

In [ ]:
#Equate the above array to A
A  = np.array([1,2,3,4])
A

array([1, 2, 3, 4])

In [ ]:
#Multiply A by a number, what do you notice?
A * 4

array([ 4,  8, 12, 16])

In [ ]:
#Add a number to A, what do you notice?
A + 7

array([ 8,  9, 10, 11])

In [ ]:
#Use add the elements of A
sum(A)

10

**Class Exercise 2:**

In [ ]:
#Create a new array with elements 11, 13, 15 and 17 and store it in variable B
B = np.array([11, 13, 15, 17])
B

array([11, 13, 15, 17])

In [ ]:
#Add A and B, what do you notice?
# A = [1, 2, 3 ,4] B = [11, 13, 15 , 17]
A + B

array([12, 15, 18, 21])

In [ ]:
#Create a new variable a and equate that to number
a = 9

In [ ]:
#Add a and B
a + B

array([20, 22, 24, 26])

In [ ]:
#Create two variables a and b and equate that to 9 and 5.
#Then create an array with the first element a+b and second element a*b
a = 9
b = 5
np.array([a+b, a*b])

array([14, 45])

In [ ]:
#Create a new array with elements 4, 5 and 7; and store it in variable C
C = np.array([4, 5, 7])
C

array([4, 5, 7])

In [ ]:
A

array([1, 2, 3, 4])

In [ ]:
print(A)

[1 2 3 4]

In [ ]:
#Add A and C  .Be mindful of the error
A + C

ValueError: operands could not be broadcast together with shapes (4,) (3,)

## Create a basic array

When it comes to creating a sequence of values, linspace and arange are two commonly used NumPy functions.

Here is the subtle difference between the two functions:

* linspace allows you to specify the number of steps
* arange allows you to specify the size of the steps
The following examples show how to use each function in practice.

### np.arange

The np.arange() function uses the following basic syntax:

np.arange(start, stop, step, …)

where:

* start: The starting value of the sequence
* stop: The end value of the sequence
* step: The spacing between values

In [ ]:
#np.arange can take in 1, 2 or 3 inputs. When it takes one input, it creates an array from 0 as the first element
#with each subsequent element increasing by 1 until it reaches a number less than the input number.
#Write an np.arange command with one input. Let that input be 7.
np.arange(7)

array([0, 1, 2, 3, 4, 5, 6])

In [ ]:
#What if I wanted the array to start at 1 and end in the value of the input
np.arange(7)+1

array([1, 2, 3, 4, 5, 6, 7])

In [ ]:
#Let's try np.arange with two inputs seperated by a comma. The two inputs can be 1 and 8.
np.arange(1,8)

array([1, 2, 3, 4, 5, 6, 7])

In [ ]:
# Create an array that starts with 200 and ends 211
np.arange(200,212)

array([200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211])

In [ ]:
#Let's try np.arange with two inputs seperated by a comma. The two inputs can be 1 and 8.  np.arange(start, stop, step, …)
np.arange(1,8,0.5)

array([1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. , 6.5, 7. ,
       7.5])

In [ ]:
#Create two arrays using np.arange. The first array should use one input(5) and the second one using two inputs (10 and 13).
#Now, use np.append with two inputs. The two inputs are the arrays from above.
#What does np.append do
first = np.arange(5)
second = np.arange(10, 13)
Third = np.append(first,second)
Third

array([ 0,  1,  2,  3,  4, 10, 11, 12])

### np.linspace

The np.linspace() function uses the following basic syntax:

np.linspace(start, stop, num, …)

where:

* start: The starting value of the sequence
* stop: The end value of the sequence
* num: the number of values to generate

In [ ]:
#create sequence of 11 evenly spaced values between 0 and 20
np.linspace(0, 20, 11)

array([ 0.,  2.,  4.,  6.,  8., 10., 12., 14., 16., 18., 20.])

In [ ]:
np.linspace(0, 10, 3)

array([ 0.,  5., 10.])

In [ ]:
print(np.linspace(0, 10, 3))

[ 0.  5. 10.]

In [ ]:
print(np.linspace(0, 10, 4))

[ 0.          3.33333333  6.66666667 10.        ]

In [ ]:
np.linspace(0, 10, 5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [ ]:
a = np.linspace(0, 10, 3)
print(a)

[ 0.  5. 10.]

In [ ]:
print(a.dtype)
# float64

float64

In [ ]:
a_int = np.linspace(0, 10, 3, dtype=int)
print(a_int)

[ 0  5 10]

In [ ]:
print(a_int.dtype)
# int64

int64

**Class Exercise 3**:

Create an array that ranges from 3 to 10 (inclusive). Another from 13 to 20 (inclusive). Add the two arrays.

In [ ]:
A1 =np.arange(3,11)
A2 = np.arange(13,21)
A1+A2

array([16, 18, 20, 22, 24, 26, 28, 30])

Generate a reverse order array with np.arange() from 9 to 2 with a step size of 2

In [ ]:
print(np.arange(9, 2, -2))
# [9 7 5 3]

[9 7 5 3]

# TAKE-HOME EXERCISE 1

**Complete the following take-home exercise for the next workshop session:**

You have a class of 10 students. Each student has completed two tests and one exam. The total scores for the tests were 70 and 80 respectively and the total score for the exam was 120. Test one and two each make up 25% of the final mark for the module, while the exam makes up the rest.

The scores for the students, out ouf their respective totals, are as follows...

For test 1 = 65, 63, 68, 40, 55, 43, 69, 52, 51, 48

For test 2 = 77, 79, 70, 35, 50, 46, 80, 56, 56, 52

For the exam = 110, 109, 100, 55, 60, 61, 115, 96, 99, 75


Make use of arrays to caclulate the following:
1.   The final mark (%) of each student.
2.   The class average (%) for each assesment as well as for the module.
3.   BONUS: Give the hightest and lowest final marks for the module (use Google).

# Tables

Tables are a fundamental object type for representing data sets. A table can be viewed in two ways:

* a sequence of named columns (i.e features or attributes) that each describe a single aspect of all entries in a data set, or

* a sequence of rows (data points or data instances) that each contain all information about a single entry in a data set.....

In [ ]:
#Upload family_heights.csv file
from google.colab import files
uploaded = files.upload()

Saving olympics2024.csv to olympics2024.csv

In [ ]:
#Read the file into a table called families
olympics = pd.read_csv('olympics2024.csv')
olympics

    Rank        Country Country Code  Gold  Silver  Bronze  Total
0      1  United States           US    40      44      42    126
1      2          China          CHN    40      27      24     91
2      3          Japan          JPN    20      12      13     45
3      4      Australia          AUS    18      19      16     53
4      5         France          FRA    16      26      22     64
..   ...            ...          ...   ...     ...     ...    ...
86    84           Peru          PER     0       0       1      1
87    84          Qatar          QAT     0       0       1      1
88    84      Singapore          SIN     0       0       1      1
89    84       Slovakia          SVK     0       0       1      1
90    84         Zambia          ZAM     0       0       1      1

[91 rows x 7 columns]

pd.read_excel('tmp.xlsx', index_col=0)
pd.read_excel('tmp.xlsx', index_col=None, header=None)

In [ ]:
#Output the table, olympics to the screen
olympics

    Rank        Country Country Code  Gold  Silver  Bronze  Total
0      1  United States           US    40      44      42    126
1      2          China          CHN    40      27      24     91
2      3          Japan          JPN    20      12      13     45
3      4      Australia          AUS    18      19      16     53
4      5         France          FRA    16      26      22     64
..   ...            ...          ...   ...     ...     ...    ...
86    84           Peru          PER     0       0       1      1
87    84          Qatar          QAT     0       0       1      1
88    84      Singapore          SIN     0       0       1      1
89    84       Slovakia          SVK     0       0       1      1
90    84         Zambia          ZAM     0       0       1      1

[91 rows x 7 columns]

In [ ]:
#Show only the top three rows of the table

olympics.head(3)

   Rank        Country Country Code  Gold  Silver  Bronze  Total
0     1  United States           US    40      44      42    126
1     2          China          CHN    40      27      24     91
2     3          Japan          JPN    20      12      13     45

In [ ]:
#Show only the top ten rows of the table

olympics.head(10)

   Rank        Country Country Code  Gold  Silver  Bronze  Total
0     1  United States           US    40      44      42    126
1     2          China          CHN    40      27      24     91
2     3          Japan          JPN    20      12      13     45
3     4      Australia          AUS    18      19      16     53
4     5         France          FRA    16      26      22     64
5     6    Netherlands          NED    15       7      12     34
6     7  Great Britain          GBG    14      22      29     65
7     8    South Korea          KOR    13       9      10     32
8     9          Italy          ITA    12      13      15     40
9    10        Germany          GER    12      13       8     33

In [ ]:
#Show all rows of the table excluding the last 10

olympics.head(-10)

    Rank        Country Country Code  Gold  Silver  Bronze  Total
0      1  United States           US    40      44      42    126
1      2          China          CHN    40      27      24     91
2      3          Japan          JPN    20      12      13     45
3      4      Australia          AUS    18      19      16     53
4      5         France          FRA    16      26      22     64
..   ...            ...          ...   ...     ...     ...    ...
76    74       Mongolia          MGL     0       1       0      1
77    74         Panama          PAN     0       1       0      1
78    79     Tajikistan          TJK     0       0       3      3
79    80        Albania          ALB     0       0       2      2
80    80        Grenada          GRN     0       0       2      2

[81 rows x 7 columns]

In [ ]:
#Show only the last five rows of the table

olympics.tail(5)

    Rank    Country Country Code  Gold  Silver  Bronze  Total
86    84       Peru          PER     0       0       1      1
87    84      Qatar          QAT     0       0       1      1
88    84  Singapore          SIN     0       0       1      1
89    84   Slovakia          SVK     0       0       1      1
90    84     Zambia          ZAM     0       0       1      1

In [ ]:
#Show only the last ten rows of the table

olympics.tail(10)

    Rank               Country Country Code  Gold  Silver  Bronze  Total
81    80              Malaysia          MAS     0       0       2      2
82    80           Puerto Rico          PUR     0       0       2      2
83    84            Cape Verde          CPV     0       0       1      1
84    84           Ivory Coast          CIV     0       0       1      1
85    84  Refugee Olympic Team          EOR     0       0       1      1
86    84                  Peru          PER     0       0       1      1
87    84                 Qatar          QAT     0       0       1      1
88    84             Singapore          SIN     0       0       1      1
89    84              Slovakia          SVK     0       0       1      1
90    84                Zambia          ZAM     0       0       1      1